body{
  background: url("https://img.freepik.com/premium-photo/fast-food-burgers-with-fries-cola-black-chalkboard_220925-8245.jpg")no-repeat center center fixed;
  background-size: cover;
}
.mb-4 img{
  width: 20%;
  height: 20%;
}
.contenitore{
  margin-top: 300px;
  display: flex;
  background-color: #ffff;
  width: 100%;
}
.flex img{
  height: 131px;
}
.elementi{
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30%;
}
.basis{
  align-items: center;
  justify-content: center;
}
.flex{
  align-items: center;
  justify-content: center;
}
.navbar {
  position: fixed;
  top: 0;  
  z-index: 9999;
  background: linear-gradient(360deg, orange, #FDC830);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar > nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar h1{
  font-weight: 500;
  font-size: 30px;
}
.navbar img{
  width: 50px;
  height: 50px;
}
nav ul {
  margin-right: 30px;
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 30px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: #ffff;
  font-weight: bold;
  position: relative; 
}




  span{
    background: white;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.2s;
  }
  .login-button:hover{
    color: gold;
  }
  .login-button:hover span{
    width: 100%;
  }
.closeButton{
  align-items: center;
  height: 30px;
  width: 30px;
  padding: 10px 5px;
  text-align: center;
  font-weight: bold;
  border: 3px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  }
  span{
    background: white;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }
  .closeButton:hover{
    color: gold;
  }
  .closeButton:hover span{
    width: 100%
  }
.ReactModalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  padding: 20px;
  background: linear-gradient(45deg, orange, gold);
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.CustomOverlay {
  background-color: rgba(255, 255, 0, 0.2);
  backdrop-filter: blur(10px);
  position: fixed; 
  inset: 0px; 
}
